::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header {
    height: 80px;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
}

nav {
    width: 100%;
}

li a {
    margin: 0px 15px;
}

li > a:hover {
    border-bottom: 2px solid;
    padding-bottom: 2px;
    transition: 0.1s ease;
}

#carrito {
    width: 30px;
    color: white;
}


.usuario-container {
    border: 1px solid #1a0200ee;
    width: auto;
    display: flex;
    padding: 2px 10px;
    border-radius: 15px;
    justify-content: center;
    margin-right: 5px;
}

#flecha {
    width: 20px;
    margin-left: 5px;
}

.usuario {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
}

.cerrar-sesion {
    width: 150px;
    height: 50px;
    background-color: #1a0200ee;
    border-radius: 10px;
    position: absolute;
    top: 60px;
}

.logout {
    margin-top: 8px;
    color: white;
}

.logout a:hover {
    color: #f2a007;
}

.user-cart-container {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.mensaje-ok {
    margin: 10px auto;
    color: white;
    font-size: 18px;
    background-color: #2ecc71;
    width: 400px;
    height: 30px;
    border-radius: 15px;
}

.mensaje-error {
    margin-top: 10px;
    color: red;
    font-size: 18px;
}

.productos-section {
    padding: 50px 0;
}

#productos-container {
    min-height: 50vh;
    margin: 0 auto;
    margin-bottom: 50px;
}

.filtros {
    position: fixed;
    top: 132px;
    left: 50px;
    height: 300px;
}

.filtros ul li {
    margin-bottom: 10px;
}

.filtros ul a {
    color: white;
}

.producto {
    border: 2px solid #1a0200ee;
    border-radius: 15px;
    width: 300px;
    height: 430px;
    background-color: whitesmoke;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.producto-titulo {
    color: #1a0200ee;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
}

.producto-precio {
    color: black;
    font-weight: bold;
    text-align: center;
}

.producto {
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.05);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.modal-img {
    width: 60%;
    display: flex;
    align-items: center;
}

.modal-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.modal-info h2 {
    color: #1a0200ee;
    font-weight: bold;
    font-size: 30px;
    margin: 50px 0px 70px;
}

.modal-info p {
    color: black;
    margin-bottom: 20px;
}

#precio {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

#agregarCarrito {
    background-color: #594636;
    color: white;
    height: 30px;
    border-radius: 15px;
    margin: 0 auto;
}

#agregarCarrito:hover {
    background-color: hsl(27, 24%, 18%);
}

.close {
    position: relative;
    top: 0px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

#total-card {
    margin: 0 auto;
    margin-bottom: 50px;
}

.cart-counter {
    display: none;
    position: fixed;
    top: 20px;
    right: 15px;
    color: white;
    text-align: center;
    background-color: #ed3434;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 12px;
}

.info-nosotros {
    width: 80%;
    margin: 20px auto;
    font-size: 18px;
    padding: 20px;
}
.my-form .grid {
    display: flex;
    justify-content: center;
}

.inicio-text{
    margin-bottom: 100px;
}

.imagen-contenedor{
    height: 85vh;
}

.imagen-inicio{
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

.fotos{
    object-fit: cover;
}
